<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<<body class="bg-slate-900">
    <section class="container mx-2 md:mx-auto md:my-24 py-8 border">
        <div class="flex flex-col items-center">
            <h1 class="text-2xl font-bold tracking-tighter text-gray-300 mb-6">Password Generator</h1>
            <!-- Password field for copy -->
            <!-- Control -->
        </div>
    </section>
</body>
</html>